:root{
  font-size: 1.585rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$primary-color: white;
$accent-color: #61DAFB;

@mixin flex($direction, $align, $gap){
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: $align;
  gap: $gap;
}

header{
  padding: 1rem 1.7rem;
  background: #21222A;
  .logo{
    @include flex(row, center, 0.5rem);
    img{
      width: 70px;
      height: 70px;
    }
    h1{
      color: $accent-color;
      font-size: 1.5rem;
    }
  }
  .nav{
    @include flex(row, center, 0);
    &__current{
      color: $primary-color;
    }
  }
}

.main{
  padding: 2rem 1.7rem;
  background: #282D35;
  background-image: url('./images/react-icon.png');
  background-position: right 75%;
  background-repeat: no-repeat;
  background-size:7rem;
  height: 84vh;
  color: $primary-color;
  h1{
    font-size: 2.2rem;
    margin-bottom: 1.25rem;
  }
  ul{
    @include flex(column, flex-start, 1rem);
    padding-left: 2rem;
    li::marker{
      color: $accent-color;
      font-size: 1.2rem;
    }
  }
}